{% extends 'layout.html.twig' %}

{% block content %}
	<section class="uk-container">
		<h2 class="uk-heading-line uk-text-center">
			<span>Création compte</span>
		</h2>

		<form class=" full-width-form" method="post">

			<div class="uk-margin">
				<div class="uk-grid uk-child-width-1-2">
					<div>
						<label class="uk-form-label" for="firstname">Prénom</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" id="firstname" name="firstname" placeholder="Votre Prénom" required>
						</div>
					</div>
					<div>
						<label class="uk-form-label" for="lastname">Nom</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" id="lastname" name="lastname" placeholder="Votre Nom" required>
						</div>
					</div>
				</div>
				<div class="uk-grid uk-child-width-1-2">
					<div>
						<label class="uk-form-label" for="email">Adresse e-mail</label>
						<div class="uk-form-controls">
							<input class="uk-input uk-width-1-1" type="email" id="email" name="email" placeholder="Votre adresse e-mail" required>
						</div>
					</div>
					<div>
						<label class="uk-form-label" for="password">Mot de passe</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="password" id="password" name="password" placeholder="Votre Mot de passe" required>
						</div>
					</div>
				</div>

				<div class="uk-margin uk-width-1-1">
					<label class="uk-form-label" for="adresse">Adresse</label>
					<div class="uk-form-controls">
						<input class="uk-input" type="text" id="adresse" name="adresse" placeholder="Votre adresse" required>
					</div>
				</div>

				<button class="uk-button uk-button-primary" type="submit">M'inscrire</button>

			</form>
		</section>
	{% endblock %}
