<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-left">

		<ul class="uk-navbar-nav">
			<li class="uk-active">
				<a href="/">StrasInfo</a>
			</li>
			<li>
				<a href="/services">Services</a>
			</li>
			<li>
				<a href="/devis">Demandez un devis</a>
			</li>
		</ul>
	</div>
	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav uk-margin-small-right">
			{% if user == false %}
				<li class="uk-parent">
					<a href="/register">Inscription</a>
				</li>
			{% endif %}
			{% if user == true %}
				<li uk-dropnav="mode: click">
					<a href="">Mon Compte
						<span uk-icon="icon: triangle-down"></span>
					</a>
					<div class="uk-dropdown dropdown">
						<ul class="uk-nav uk-dropdown-nav">
							{% if user.isAdmin == 1 %}
								<li>
									<a href="/admin">Dashboard</a>
								</li>
							{% endif %}
							<li>
								<a href="/logout">Logout</a>
							</li>
						</ul>
					</div>
				</li>
			{% else %}
				<li>
					<a href="/connexion">Connexion</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
